### Import relevant packages

In [22]:
import pandas as pd

### Load data

In [23]:
raw_csv_data = pd.read_csv('Absenteeism-data.csv')

raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Remove irrelevant variables

In [24]:
data = raw_csv_data.copy()
data = data.drop(labels=['ID'], axis=1)

### Create dummy variables

Reason for Absense is essentially a categorical variable, use get_dummies to create dummy variables for it.

In [25]:
# drop_first=True to drop first dummy variable to avoid multicollinearity
reason_for_absence = pd.get_dummies(data['Reason for Absence'], drop_first=True)
reason_for_absence.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

### Group dummy variables

There are too many dummy variables for this Reason for Absense variable, need to group them into 4 classes

In [26]:
reason_type_1 = reason_for_absence.loc[:,1:14].max(axis=1)
reason_type_2 = reason_for_absence.loc[:,15:17].max(axis=1)
reason_type_3 = reason_for_absence.loc[:,18:21].max(axis=1)
reason_type_4 = reason_for_absence.loc[:,22:].max(axis=1)

In [27]:
data = data.drop(labels=['Reason for Absence'],axis=1)

new_data = pd.concat([data, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
new_data.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

### Rename and reorder columns

In [28]:
new_data.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [29]:
col_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
             'Daily Work Load Average', 'Body Mass Index', 'Education',
             'Children', 'Pets', 'Absenteeism Time in Hours', 
             'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

new_data.columns = col_names
new_data.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [30]:
col_names_reordered =  ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 
                        'Date', 'Transportation Expense', 'Distance to Work', 'Age',
                        'Daily Work Load Average', 'Body Mass Index', 'Education',
                        'Children', 'Pets', 'Absenteeism Time in Hours']

new_data = new_data[col_names_reordered]
new_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Create a checkpoint

In [31]:
new_data_mod = new_data.copy()

In [32]:
# create timestamp object for Date 
new_data_mod['Date'] = pd.to_datetime(new_data_mod['Date'], format = '%d/%m/%Y')

type(new_data_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

### Extract month and day of the week

In [33]:
new_data_mod['Date'][0].month

7

In [34]:
# 0 means Monday, 1 means Tuesday, so on and so forth
new_data_mod['Date'][0].weekday()

1

In [35]:
# apply() method can apply a certain operation iterately on each value of a column of DataFrame
def date_to_weekday(date):
    return date.weekday()

# we can either define a function inside or outside apply() method
new_data_mod['Month Value'] = new_data_mod['Date'].apply(lambda x: x.month)
new_data_mod['Day of the Week'] = new_data_mod['Date'].apply(date_to_weekday)

new_data_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [36]:
new_col_names = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 
                 'Date', 'Month Value','Day of the Week',
                 'Transportation Expense', 'Distance to Work', 'Age',
                 'Daily Work Load Average', 'Body Mass Index', 'Education',
                 'Children', 'Pets', 'Absenteeism Time in Hours']

new_data_mod = new_data_mod[new_col_names]
new_data_mod = new_data_mod.drop(labels=['Date'], axis=1)

### Transfor Education into Dummy

In [37]:
new_data_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [38]:
new_data_mod['Education'] = new_data_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

new_data_mod['Education'].unique()

array([0, 1], dtype=int64)

### Final checkpoint

In [39]:
data_preprocessed = new_data_mod.copy()

data_preprocessed.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2

### Export as .csv file

In [41]:
data_preprocessed.to_csv('Absenteeism-preprocessed.csv', index=False)